@import 'base/fonts';

* {
	font-family: 'OpenSans', sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
.container {
	width: 86.77%;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
.br {
	display: none;
}
.hierarhy {
	display: flex;
	justify-content: space-between;
	align-items: self-start;
	padding-top: 8.333vw;
	&_links {
		display: flex;
		justify-content: end;
		align-items: center;
		gap: 0.26vw;
	}
	.button {
		width: 5.885vw;
	}
}
.pagination {
	display: flex;
	justify-content: center;
	gap: 1.041vw;
	margin-top: 3.125vw;
	&_item, &_next, &_prev {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 3.229vw;
		height: 3.229vw;
		border: 1px solid #0e6e34;
		border-radius: 0.312vw;
		font-family: 'Inter', sans-serif;
		font-weight: 800;
		font-size: 0.937vw;
		color: #015019;
		cursor: pointer;
		user-select: none;
	}
	img {
		height: 0.625vw;
	}
	.active {
		background: #0e6e34;
		color: #fff;
	}
	&_next, &_prev {
		border: 1px solid #bcbcbc;
	}
	.rotate {
		img {
			transform: rotate(180deg);
		}
	}
	.lock img {
		filter: brightness(0) saturate(100%) invert(70%) sepia(0%) saturate(446%) hue-rotate(180deg) brightness(111%) contrast(86%);
	}
}

@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/application';
@import 'blocks/areas';
@import 'blocks/about';
@import 'blocks/reviews';
@import 'blocks/clients';
@import 'blocks/we_accept';
@import 'blocks/phone_numbers';
@import 'blocks/vacancies';
@import 'blocks/feedback';
@import 'blocks/all_prices';
@import 'blocks/pricelist';
@import 'blocks/footer';
@import 'media/general';
