@import 'base/fonts';

* {
	font-family: 'OpenSans', sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
.container {
	width: 86.77%;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
.br {
	display: none;
}

@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/application';
@import 'blocks/areas';
@import 'blocks/about';
@import 'blocks/reviews';
@import 'blocks/clients';
@import 'blocks/footer';
@import 'media/general';
