@import 'base/fonts';

* {
	font-family: 'OpenSans', sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
.container {
	width: 86.77%;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
.br {
	display: none;
}
.hierarhy {
	display: flex;
	justify-content: space-between;
	align-items: self-start;
	padding-top: 8.333vw;
	&_links {
		display: flex;
		justify-content: end;
		align-items: center;
		gap: 0.26vw;
	}
	.button {
		width: 5.885vw;
	}
}

@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/application';
@import 'blocks/areas';
@import 'blocks/about';
@import 'blocks/reviews';
@import 'blocks/clients';
@import 'blocks/we_accept';
@import 'blocks/footer';
@import 'media/general';
