@import "title";
@import "button";
@import 'header';

.hide {
	display: none;
}
.show {
	display: block;
}
.flex {
	display: flex;
}

.trans-5 {
	transition: 0.5s all;
}

@media (max-width: 992px) {
	.container {
		width: 91.11%;
	}
	.hierarhy {
		flex-direction: column;
		gap: 4.166vw;
		padding-top: 28.055vw;
		&_links {
			gap: 1.388vw;
			.title {
				font-size: 3.333vw;
			}
		}
		.button {
			width: 31.388vw;
		}
	}
}
