@import "title";
@import "button";
@import 'header';

.hide {
	display: none;
}
.show {
	display: block;
}
.flex {
	display: flex;
}

.trans-5 {
	transition: 0.5s all;
}
.nomt{
	margin-top: 0;
}

@media (max-width: 992px) {
	.container {
		width: 91.11%;
	}
	.hierarhy {
		flex-direction: column;
		gap: 4.166vw;
		padding-top: 28.055vw;
		&_links {
			gap: 1.388vw;
			.title {
				font-size: 3.333vw;
			}
		}
		.button {
			width: 31.388vw;
		}
	}
	.pagination {
		gap: 2.777vw;
		margin-top: 7.222vw;
		&_item, &_next, &_prev {
			width: 8.333vw;
			height: 8.333vw;
			border-radius: 1.666vw;
			font-size: 3.888vw;
		}
		img {
			height: 3.333vw;
		}
	}
}
