.addresses {
    padding-top: 7.864vw;
    &_headers {
        display: flex;
        gap: 0.625vw;
        margin-top: 1.718vw;
        .title {
            padding: 0.937vw;
            width: calc(15vw - 0.937vw - 0.937vw);
            border: 1px solid #0e6e34;
            border-radius: 0.26vw;
            text-align: center;
            cursor: pointer;
        }
        .title.active {
            border: none;
            background: #0e6e34;
            color: #fff;
        }
    }
    &_wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 1.25vw;
    }
    &_map, &_items {
        height: 44.322vw;
    }
    &_items {
        overflow-y: auto;
        flex-direction: column;
        gap: 2.031vw;
        width: 20vw;
        &::-webkit-scrollbar {
            width: 0.833vw;
            border-radius: 1.562vw;
            background-color: #fff;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 1.562vw;
            background: #0e6e34;
        }
        &::-webkit-scrollbar-track {
            border-radius: 1.562vw;
            background: #fff;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
    &_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.833vw;
        padding: 1.333vw 1.666vw;
        width: calc(16.927vw - 1.666vw - 1.666vw);
        background: #f3f5f7;
        cursor: pointer;
        &:hover {
            background: #e0e1e2;
        }
        img {
            width: 1.666vw;
        }
        .title {
            text-align: center;
        }
    }
    &_map {
        width: 64.166vw;
        border: none;
    }
    & .container {
        & > .title {
            text-align: center;
        }
        & > .title_24 {
            margin: 1.041vw auto 0;
            width: 66.614vw;
        }
    }
}

@media (max-width: 992px) {
    .addresses {
        padding-top: 19.722vw;
        &_headers {
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1.666vw 0;
            margin-top: 5.555vw;
            .title {
                padding: 2.777vw;
                width: calc(44.722vw - 2.777vw - 2.777vw);
                border-radius: 1.388vw;
                font-size: 3.888vw;
            }
        }
        &_wrapper {
            flex-direction: column;
            gap: 6.388vw;
            margin-top: 7.5vw;
        }
        &_items {
            gap: 4.166vw;
            width: calc(100% - 1.944vw);
            height: 75.611vw;
            &::-webkit-scrollbar {
                width: 1.944vw;
                border-radius: 8.333vw;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 8.333vw;
            }
            &::-webkit-scrollbar-track {
                border-radius: 8.333vw;
            }
        }
        &_item {
            gap: 2.777vw;
            padding: 4.444vw 8.888vw;
            width: calc(80vw - 8.888vw - 8.888vw);
            img {
                width: 5.555vw;
            }
            .title {
                font-size: 3.333vw;
            }
        }
        &_map {
            width: 100%;
            height: 109.444vw;
        }
        & .container {
            & > .title_24 {
                margin: 1.666vw auto 0;
                width: 100%;
            }
        }
    }
}
