.all_prices {
    padding-top: 0.937vw;
    &_wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 3.333vw 3vw;
        margin-top: 1.562vw;
    }
    &_item {
        display: flex;
        flex-direction: column;
        padding: 1.041vw;
        width: calc(26.666vw - 1.041vw - 1.041vw);
        height: 24.843vw;
        border-radius: 0.52vw;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
        & > .title_24 {
            margin-top: 0.989vw;
        }
        .button {
            margin-top: auto;
            width: 100%;
        }
    }
    &_bottom {
        margin-top: auto;
        .title {
            text-align: end;
        }
        .title_16 {
            margin-top: 0.208vw;
        }
    }
    &_image {
        overflow: hidden;
        width: 100%;
        height: 14.01vw;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: filter 0.8s, transform 0.8s;
            &:hover {
                filter: saturate(180%);
                transform: scale(1.2);
            }
        }
    }
    &_paper {
        margin-top: 3.906vw;
        & > .title_36 {
            text-align: center;
        }
    }
    & .container > .title_24 {
        margin-top: 0.885vw;
    }
    .hint {
        display: flex;
        align-items: center;
        gap: 2.708vw;
        margin: 2.031vw auto 0;
        padding: 0.416vw 4.166vw;
        width: 71.666vw;
        background: #f0fae7;
        img {
            width: 3.645vw;
            height: 5.52vw;
        }
    }
    .table {
        margin-top: 2.031vw;
        &_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.458vw 3.593vw;
            background: #0e6e34;
            .title {
                color: #fff;
            }
        }
        &_items {
            display: flex;
            flex-direction: column;
        }
        &_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                width: 16.406vw;
                height: 10.937vw;
            }
            .title_24 {
                width: 19.218vw;
                text-align: center;
            }
        }
        &_titles {
            display: flex;
            justify-content: space-between;
            padding-left: 3.854vw;
            .title {
                &:first-child {
                    width: 14.843vw;
                }
                &:last-child {
                    width: 31.354vw;
                }
            }
        }
    }
    .algorithms {
        margin-top: 8.75vw;
        &_items {
            display: flex;
            justify-content: space-between;
            margin-top: 2.291vw;
        }
        &_item {
            position: relative;
            padding: 0.416vw 1.406vw;
            width: calc(20.833vw - 1.406vw - 1.406vw);
            border-radius: 0.52vw;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
            background: #fff;
            &:last-child img {
                width: 8.437vw;
            }
            img {
                position: absolute;
                top: 0.416vw;
                right: 0;
                width: 11.979vw;
            }
            ul, li, .title_20 {
                position: relative;
                z-index: 1;
            }
            ul {
                margin-top: 0.781vw;
            }
            li {
                margin-left: 0.945vw;
            }
            .title_20 {
                margin-top: 5.937vw;
            }
        }
    }
}

@media (max-width: 992px) {
    .all_prices {
        padding-top: 2.5vw;
        &_wrapper {
            gap: 4.166vw 0;
            margin-top: 3.055vw;
        }
        &_item {
            padding: 3.333vw;
            width: calc(100% - 3.333vw - 3.333vw);
            height: 86.111vw;
            border-radius: 2.777vw;
            & > .title_24 {
                margin-top: 3.333vw;
            }
        }
        &_bottom {
            .title_16 {
                margin-top: 2.5vw;
                font-size: 3.333vw;
            }
            .title_24 {
                font-size: 5.555vw;
            }
        }
        &_image {
            height: 48.333vw;
        }
        &_paper {
            margin-top: 4.166vw;
            & > .title_36 {
                font-size: 5.555vw;
            }
        }
        & .container > .title_24 {
            margin-top: 2.777vw;
        }
        .hint {
            flex-direction: column;
            align-items: self-start;
            gap: 2.777vw;
            margin: 5.555vw auto 0;
            padding: 3.611vw 3.055vw;
            width: calc(100% - 3.055vw - 3.055vw);
            font-size: 3.888vw;
            img {
                width: 10.833vw;
                height: 16.388vw;
            }
        }
        .table {
            margin-top: 5.555vw;
            &_header {
                padding: 5vw 3.055vw;
                .title {
                    font-size: 3.888vw;
                }
            }
            &_items {
                gap: 2.777vw;
            }
            &_item {
                flex-wrap: wrap;
                gap: 4.444vw 0;
                img {
                    width: 32.777vw;
                    height: 21.666vw;
                }
                .title_24 {
                    width: 31.944vw;
                    font-size: 5.555vw;
                }
            }
            &_titles {
                order: 1;
                flex-direction: column;
                gap: 1.666vw;
                padding-left: 0;
                .title {
                    font-size: 3.888vw;
                    &:first-child, &:last-child {
                        width: 100%;
                    }
                }
            }
        }
        .algorithms {
            margin-top: 12.777vw;
            &_items {
                flex-wrap: wrap;
                gap: 3.055vw;
                margin-top: 7.222vw;
            }
            &_item {
                padding: 0.833vw 3.333vw;
                width: calc(43.888vw - 3.333vw - 3.333vw);
                border-radius: 2.777vw;
                &:last-child img {
                    width: 19.722vw;
                }
                img {
                    top: 3.333vw;
                    width: 25.277vw;
                }
                ul {
                    margin-top: 3.333vw;
                }
                li {
                    margin-left: 3.944vw;
                }
                .title_20 {
                    margin-top: 16.388vw;
                    font-size: 3.888vw;
                }
            }
            & > .title_36 {
                font-size: 6.666vw;
            }
        }
        .title_64 {
            font-size: 8.888vw;
        }
    }
}
