.application {
    margin-top: 5.677vw;
    padding: 4.322vw 0 2.916vw;
    background: linear-gradient(90deg, #e5faeb 0%, #ebf0e9 45%, #ece7de 55%, #ebf3eb 71.5%, #e4e0f1 98.5%);
    &_form {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 2.5vw;
        &_input {
            padding: 1.197vw 1.25vw;
            width: calc(30vw - 1.25vw - 1.25vw);
            border: 1px solid rgba(0, 0, 0, 0.56);
            border-radius: 0.52vw;
            background: none;
            font-weight: 400;
            font-size: 1.25vw;
            color: #949494;
            outline: none;
            &::placeholder {
                font-weight: 400;
                font-size: 1.25vw;
                color: #949494;
            }
            &:nth-child(8) {
                width: calc(25.625vw - 1.25vw - 1.25vw);
            }
        }
        .button {
            width: 26.666vw;
        }
    }
    .title_24 {
        margin-top: 1.197vw;
    }
}

@media (max-width: 992px) {
    .application {
        margin-top: 12.777vw;
        padding: 14.444vw 0 13.055vw;
        &_form {
            display: flex;
            flex-direction: column;
            gap: 2.777vw;
            margin-top: 3.611vw;
            &_input {
                padding: 3.888vw;
                width: calc(100% - 3.888vw - 3.888vw);
                border-radius:2.777vw;
                font-size: 4.444vw;
                &::placeholder {
                    font-size: 4.444vw;
                }
                &:nth-child(8) {
                    width: calc(100% - 3.888vw - 3.888vw);
                }
            }
            .button {
                margin-top: 1.944vw;
                width: 100%;
            }
        }
        .br {
            display: block;
        }
        .title_24 {
            margin-top: 2.222vw;
        }
    }
}
