.button {
    display: flex;
	justify-content: center;
	align-items: center;
    border: none;
    border-radius: 0.52vw;
    transition: background-color 0.2s ease-in-out;
	text-align: center;
	font-weight: 600;
    font-size: 1.25vw;
    color: #000;
    cursor: pointer;
    &_white {
        padding: 0.989vw;
        background-color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        &:hover {
            background-color: #faff00;
        }
    }
    &_green {
        padding: 1.197vw;
        background-color: #3a9f1e;
        color: #fff;
        &:hover {
            background-color: rgba(#3a9f1e, 0.7);
        }
    }
    &_linear {
        padding: 1.562vw;
        background: linear-gradient(121deg, #62c711 0%, #0e6e34 100%);
        color: #fff;
        &:hover {
            background: linear-gradient(121deg, #0e6e34 0%, #62c711 100%);
        }
    }
}
