.header {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    background: #0e6e34;
    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: self-start;
        padding: 0.212vw 0;
        .title {
            color: #fff;
        }
    }
    &_logo {
        display: flex;
        align-items: center;
        img {
            width: 4.166vw;
            height: 6.302vw;
        }
    }
    &_center {
        display: flex;
        gap: 4.739vw;
        margin: 0.885vw 0 0.468vw;
    }
    &_menu {
        display: flex;
        flex-direction: column;
        gap: 1.927vw;
        width: 40.208vw;
        &_top, &_bottom {
            display: flex;
            justify-content: space-between;
        }
        &_top {
            align-items: self-end;
        }
        &_map {
            display: flex;
            gap: 0.572vw;
            img {
                width: 1.041vw;
            }
            .title {
                color: #faff00;
            }
        }
        &_entities {
            display: flex;
            gap: 1.562vw;
        }
    }
    &_call {
        display: flex;
        gap: 0.729vw;
        &_numbers {
            display: flex;
            flex-direction: column;
            align-items: self-end;
            gap: 0.364vw;
        }
        img {
            padding: 0.312vw;
            width: 2.812vw;
            height: 2.812vw;
            background: #faff00;
            border-radius: 0.52vw;
            &:hover {
                filter: saturate(180%);
            }
        }
        a {
            font-size: 1.25vw;
            color: #fff;
        }
    }
    a:hover {
        text-decoration: underline;
        color: #faff00;
    }
    &_dropdown {
        position: relative;
        user-select: none;
        & > label {
            display: flex;
            align-items: center;
            gap: 0.26vw;
        }
        & > div {
            position: absolute;
            top: 2.5vw;
            display: flex;
            flex-direction: column;
            gap: 0.52vw;
            padding: 1.041vw;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
            background: #fff;
            font-size: 0.9375vw;
            font-weight: 400;
        }
        & :checked ~ div {
            display: flex;
        }
        & :checked ~ label span {
            transform: rotate(-180deg);
        }
        a {
            text-wrap: nowrap;
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
        }
        span {
            transition: all 0.8s;
        }
        input, & > div {
            display: none;
        }
        label {
            cursor: pointer;
        }
        a:hover {
            color: #0e6e34;
        }
        .green {
            color: #0E6E34;
        }
    }
    .button {
        margin-top: 0.885vw;
        width: 14.583vw;
    }
}
.burger {
    display: none;
    &_button {
        display: none;
    }
}
