.light {
	font-weight: 300;
}
.regular {
	font-weight: 400;
}
.medium {
	font-weight: 500;
}
.semi-bold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
.extra-bold {
	font-weight: 800;
}
.upper {
	text-transform: uppercase;
}
.under {
	text-decoration: underline;
}

.lato {
	font-family: "Lato", sans-serif;
}
.sans {
	font-family: "OpenSans", sans-serif;
}
.inter {
	font-family: "Inter", sans-serif;
}
.gothic {
	font-family: "CenturyGothic", sans-serif;
}
.jost {
	font-family: "Jost", sans-serif;
}
.volkhov {
	font-family: "Volkhov", sans-serif;
}
.roboto {
	font-family: "Roboto", sans-serif;
}
